@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');

.App {
  font-family: 'PT Mono', monospace;
  padding: 20px;
}

.btn {
  border-radius: 5px;
  box-shadow: 3px 2px 2px #333;
  height: 50px;
  width: 50px;
}

.btn:hover {
  cursor: pointer;
}

.destroy-btn {
  background: red;
  color: white;
}

.func-btn {
  background: green;
  color: white;
}
