.calculator {
    background: grey;
    height: 600px;
    width: 500px;
    margin: 0 auto;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}