.calculator {
    background: grey;
    box-shadow: 8px 8px 15px #111;
    height: 600px;
    width: 500px;
    margin: 0 auto;
    padding-top: 50px;
    border-top-left-radius: 10%;
    border-top-right-radius: 10%;
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
}