.btn-panel {
    grid-gap: 10px;
    display: grid;
    grid-template-areas:
        "vals1 vals1 vals1 arith"
        "vals1 vals1 vals1 arith"
        "vals1 vals1 vals1 arith"
        "vals1 vals1 vals1 arith"
        "vals2 . . arith"
        ". destroy destroy func";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(6, 1fr);
    margin: 15px auto;
    width: 80%;
}

.val-btn-panel-1 {
    grid-area: vals1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.val-btn-panel-2 {
    grid-area: vals2;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.arithmetic-btn-panel {
    grid-area: arith;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
}

.destroy-btn-panel {
    grid-area: destroy;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.func-btn-panel {
    grid-area: func;
}
